/*
Vars
 */
$black: #010000;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$red: #ff1755;

/*
Mix-Ins
 */

@mixin translateY($e) {
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
    transform: translateY($e);
}

@mixin translateX($e) {
    -webkit-transform: translateX($e);
    -moz-transform: translateX($e);
    transform: translateX($e);
}

@mixin translate($e, $f) {
    -webkit-transform: translate($e, $f);
    -moz-transform: translate($e, $f);
    transform: translate($e, $f);
}

@mixin transition($e) {
    -webkit-transition: $e;
    -moz-transition: $e;
    transition: $e;
}

@mixin center($width: null, $height:null) {
    position: absolute;
    top: 50%;
    left: 50%;

    @if not $width and not $height {
        @include translate(-50%, -50%);
    } @else if $width and $height {
        width: $width;
        margin-left: -($width / 2);
        margin-top: -($height / 2);
    } @else if not $height {
        width: $width;
        margin-left: -($width / 2);
        @include translateY(-50%);
    } @else {
        height: $height;
        margin-top: -($height / 2);
        @include translateX(-50%);
    }
}

/* Fonts -

regular 400
regular 400 Italic
bold 700
bold 700 Italic

*/

body {
    font-family: 'Open-Sans', sans-serif;
    font-size: 18px;
    color: $darkGrey;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: $darkGrey;
    @include transition(0.25s ease-in-out);
    cursor: pointer;

    &:hover {
        text-decoration: none;
        color: $red;
        @include transition(0.25s ease-in-out);
    }
}
