/*
Vars
 */

$black: #010000;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$red: #8c1515;

/*

$lightShades: #fff;
$lightAccent: #999;
$mainColor: #666;
$darkAccent: #333;
$darkShades: #000;

$lightShades: #f6f6f5;
$lightAccent: #e0b095;
$mainColor: #dd3437;
$darkAccent: #41cada;
$darkShades: #1a3e66;

$lightShades: #faf7f9;
$lightAccent: #cd9657;
$mainColor: #8c1515;
$darkAccent: #7c7796;
$darkShades: #16151c;

$lightShades: #f6f6f6;
$lightAccent: #5fbbe6;
$mainColor: #2c7bc6;
$darkAccent: #83818A;
$darkShades: #1A3463;

$lightShades: #f4f5f3;
$lightAccent: #f2923c;
$mainColor: #df4624;
$darkAccent: #9b9fb0;
$darkShades: #2a2532;

*/

$lightShades: #faf7f9;
$lightAccent: #cd9657;
$mainColor: #8c1515;
$darkAccent: #7c7796;
$darkShades: #16151c;


/*
Mix-Ins
 */

 @mixin translateX($e) {
     -webkit-transform: translateX($e);
     -moz-transform: translateX($e);
     transform: translateX($e);
 }

@mixin translateY($e) {
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
    transform: translateY($e);
}

@mixin translate($e, $f) {
    -webkit-transform: translate($e, $f);
    -moz-transform: translate($e, $f);
    transform: translate($e, $f);
}

@mixin transition($e) {
    -webkit-transition: $e;
    -moz-transition: $e;
    transition: $e;
}

@mixin centerX() {
    position: absolute;
    left: 50%;
    @include translateX(-50%);
}

@mixin centerY() {
    position: absolute;
    top: 50%;
    @include translateY(-50%);
}

@mixin center($width: null, $height:null) {
    position: absolute;
    top: 50%;
    left: 50%;

    @if not $width and not $height {
        @include translate(-50%, -50%);
    } @else if $width and $height {
        width: $width;
        margin-left: -($width / 2);
        margin-top: -($height / 2);
    } @else if not $height {
        width: $width;
        margin-left: -($width / 2);
        @include translateY(-50%);
    } @else {
        height: $height;
        margin-top: -($height / 2);
        @include translateX(-50%);
    }
}

@mixin scaleX($e) {
    -webkit-transform: scaleX($e);
    -moz-transform: scaleX($e);
    transform: scaleX($e);
}

@mixin scaleY($e) {
    -webkit-transform: scaleY($e);
    -moz-transform: scaleY($e);
    transform: scaleY($e);
}

/* Fonts -

regular 400
regular 400 Italic
bold 700
bold 700 Italic

*/

body {
    font-family: 'Open-Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: $darkShades;
}

a,button {
    @extend body;
    text-decoration: none;
    font-weight: 500;
    color: $lightAccent;
    background: 'transparent';
    border: none;
    //box-shadow: 0;
    @include transition(0.3s ease-in-out);
    cursor: pointer;

    &:hover {
        text-decoration: none;
        color: $mainColor;
        @include transition(0.3s ease-in-out);
    }

    &:focus {
        outline: 0;
    }
}
