@import "_config.scss";

header {
    position: fixed;
    z-index: 1;
    display: block;
    height: 50px;
    width: 100%;
    background: $darkShades;
    @include transition(.2s ease-in-out);

    .logoWrapper {
        position: absolute;
        top: 50%; left: 15px;
        @include translateY(-50%);

        .logo{
            position: relative;
        	margin: 5px;
        	height: 40px;
        	width: 40px;
            @include transition(.2s ease-in-out);

            &:hover{
                height: 46px;
                width: 46px;
                @include transition(.2s ease-in-out);
            }
        }
    }

    nav,
    nav ul,
    nav ul li {
        margin: 0;
        padding: 0;
    }

    nav {
        position: absolute;
        @include center();
        //top: 50%; right: 15px;
        //@include translateY(-50%);

        ul li {
            list-style-type: none;
            display: inline-block;
            margin-right: 30px;

            &.last {
                margin: 0;
            }

            a, button {
                font-size: 15px;
                line-height: normal;
                position: relative;
                color: $lightShades;

                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1.5px;
                    bottom: -5px;
                    left: 0;
                    background-color: $mainColor;
                    visibility: hidden;
                    @include scaleX(0);
                    @include transition(0.3s ease-in-out);
                }

                &:hover:before {
                    visibility: visible;
                    @include scaleX(1);
                }

            }
        }
    }
}

.top {
    height: 60px;
    background: 'transparent';
    @include transition(.2s ease-in-out);
    nav ul li a, button {
        &:before {
            background-color: $lightShades;
        }

        &:hover {
            color: $lightShades;
        }
    }
}

.highlight {
    color: $lightAccent;
}

.boldRed {
    font-weight: bold;
    color: $mainColor;
}

.container-fluid {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
}

.container-fluid-light {
    @extend.container-fluid;
    background: $lightShades;
    color: $darkShades;
}

.container-fluid-dark {
    @extend.container-fluid;
    background: $darkShades;
    color: $lightShades;
}

.home {
    @extend.container-fluid;
    background:  linear-gradient(to bottom, rgba($darkShades, 0.3), rgba($darkShades, 1)), url(../../images/bhangra-background.jpg) no-repeat center center;
    background-size: cover;
    color: $lightShades;

    .title {
        white-space: nowrap;
        position: absolute;
        @include center();
        top: 80%;
        font-size: 120px;
        font-weight: 700;
    }
}

.news {
    @extend.container-fluid-dark;
    height: auto;
    padding-top: 10vh;
    padding-bottom: 20vh;
    padding-left: 30px;
    padding-right: 70px;

    .news_bullet {
        position: relative;
        margin-bottom: 40px;
        max-width: 950px;

        .news_title {
            position: relative;
            margin-bottom: 10px;
            font-weight: 600;
        }

        .news_body {
            position: relative;
            line-height: 1.5;
        }

        .news_location {
            position: relative;
            line-height: 1.5;
            display: block;

            .location {
                display: inline-block;
                margin-right: 50px;

                a {
                    color: $lightShades;
                    @include transition(0.3s ease-in-out);
                    &:hover{
                        color: $lightAccent;
                        @include transition(0.3s ease-in-out);
                    }
                }

                .bold {
                    font-weight: bold;
                }
            }

            .locationOr {
                @extend.location;
                font-weight: bold;
            }
        }
    }
}

.about {
    @extend.container-fluid-light;
    height: 100vh;
    display: flex;
    width: 100%;

    .about-container {
        position: relative;
        width: 100%;
        height: inherit;

        .about-left {
            @include center();
            text-align: center;
            line-height: 1.8;
            font-size: 60px;
            font-weight: 800;
        }

        .about-right {
            @include centerY();
            padding-right: 150px;
            font-weight: 300;
            font-size: 24px;
            line-height: 1.7;
            color: $darkAccent;
        }
    }
}

.performers {
    @extend.container-fluid-light;
    height: auto;

    .performers-title {
        @include centerX();
        top: 60px;
        font-size: 25px;
        font-weight: 600;
        z-index: 1;
    }

    .performers-container {
        position: relative;
        padding-top: 110px;
        margin-left: 50px;
        margin-right: 50px;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        justify-items: center;
        background: inherit;

        .dancer-container {
            margin-bottom: 40px;
            .photo {
                //height: 300px;
                width: 15vw;
                object-fit: contain;
                margin-bottom: 5px;
            }
            .dancer-name {
                font-size: 20px;
                font-weight: 400;
                margin: 0;
            }
            .dancer-position {
                font-weight: 600;
                color: $mainColor;
                margin: 0;
            }
            .dancer-year {
                font-weight: 300;
                color: $darkAccent;
                margin: 0;
            }
        }
    }
}

.media {
    @extend.container-fluid-light;
}

.contact {
    @extend.container-fluid-light;
    height: 50vh;
}

footer {
    @extend.container-fluid-dark;
    height: 100px;

    .icons,
    .icons ul,
    .icons ul li {
        margin: 0;
        padding: 0;
    }

    .icons {
        position: absolute;
        @include centerX();
        top: 25%;

        //top: 50%; right: 15px;
        //@include translateY(-50%);

        ul li {
            list-style-type: none;
            display: inline-block;
            margin-right: 30px;

            &.last {
                margin-right: 0;
            }

            a {
                font-size: 10px;
                display: block;
                height:30px;
                width: 30px;

                overflow:hidden;
                text-indent:100%;
                white-space:nowrap;
                @include transition(.2s ease-in-out);

                &:hover {
                    @include transition(.2s ease-in-out);
                }
            }

            .facebook {
                background: url('../../images/facebook_icon.png') no-repeat center center;
                background-size: 30px 30px;

                &:hover {
                    background: url('../../images/facebook_icon_hover.png') no-repeat center center;
                    background-size: 30px 30px;
                }
            }

            .instagram {
                background: url('../../images/instagram_icon.png') no-repeat center center;
                background-size: 30px 30px;

                &:hover {
                    background: url('../../images/instagram_icon_hover.png') no-repeat center center;
                    background-size: 30px 30px;
                }
            }

            .youtube {
                background: url('../../images/youtube_icon.png') no-repeat center center;
                background-size: 30px 30px;

                &:hover {
                    background: url('../../images/youtube_icon_hover.png') no-repeat center center;
                    background-size: 30px 30px;
                }
            }

        }
    }

    p {
        margin: 0;
        position: absolute;
        @include centerX();
        top: 65%;
    }
}
